(edif Sub_4Bit
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2016 11 10 14 56 54)
  (program "Vivado" (version "2015.2"))
  (comment "Built on 'Fri Jun 26 16:35:25 MDT 2015'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell RTL_OR0 (celltype GENERIC)
     (view RTL_OR0 (viewtype NETLIST)
       (interface 
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port O (direction OUTPUT))
       )

           (property XLNX_LINE_COL (integer 1573376))
     )
   )
   (cell RTL_AND (celltype GENERIC)
     (view RTL_AND (viewtype NETLIST)
       (interface 
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port O (direction OUTPUT))
       )

           (property XLNX_LINE_COL (integer 1180160))
     )
   )
   (cell RTL_INV (celltype GENERIC)
     (view RTL_INV (viewtype NETLIST)
       (interface 
        (port I0 (direction INPUT))
        (port O (direction OUTPUT))
       )

           (property XLNX_LINE_COL (integer 983296))
     )
   )
   (cell RTL_XOR0 (celltype GENERIC)
     (view RTL_XOR0 (viewtype NETLIST)
       (interface 
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port O (direction OUTPUT))
       )

           (property XLNX_LINE_COL (integer 1114368))
     )
   )
   (cell Sub_1Bit (celltype GENERIC)
     (view Sub_1Bit (viewtype NETLIST)
       (interface 
        (port A (direction INPUT))
        (port B (direction INPUT))
        (port Bin (direction INPUT))
        (port Bout (direction OUTPUT))
        (port Diff (direction OUTPUT))
       )
       (contents
         (instance Bout0_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1573376))
         )
         (instance Bout0_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2949632))
         )
         (instance Bout1_i (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 1180160))
         )
         (instance Bout1_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2032128))
         )
         (instance Bout2_i (viewref RTL_INV (cellref RTL_INV (libraryref work)))
           (property XLNX_LINE_COL (integer 983296))
         )
         (instance Bout_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 2556416))
         )
         (instance Diff0_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1114368))
         )
         (instance Diff_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1376512))
         )
         (net A (joined
          (portref I0 (instanceref Bout2_i))
          (portref I0 (instanceref Diff0_i))
          (portref A)
          )
         )
         (net B (joined
          (portref I0 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i))
          (portref I1 (instanceref Diff0_i))
          (portref B)
          )
         )
         (net Bin (joined
          (portref I1 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i__0))
          (portref I1 (instanceref Diff_i))
          (portref Bin)
          )
         )
         (net Bout (joined
          (portref O (instanceref Bout_i))
          (portref Bout)
          )
         )
         (net Bout0 (joined
          (portref I0 (instanceref Bout_i))
          (portref O (instanceref Bout0_i))
          )
         )
         (net Bout0_i__0_n_0 (joined
          (portref I1 (instanceref Bout_i))
          (portref O (instanceref Bout0_i__0))
          )
         )
         (net Bout1 (joined
          (portref I0 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i))
          )
         )
         (net Bout1_i__0_n_0 (joined
          (portref I1 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i__0))
          )
         )
         (net Bout2 (joined
          (portref I0 (instanceref Bout1_i))
          (portref I0 (instanceref Bout1_i__0))
          (portref O (instanceref Bout2_i))
          )
         )
         (net Diff (joined
          (portref O (instanceref Diff_i))
          (portref Diff)
          )
         )
         (net Diff0 (joined
          (portref I0 (instanceref Diff_i))
          (portref O (instanceref Diff0_i))
          )
         )
       )

           (property XLNX_LINE_COL (integer 460800))
     )
   )
   (cell Sub_1Bit_HD7 (celltype GENERIC)
     (view abstract (viewtype NETLIST)
       (interface 
        (port A (direction INPUT))
        (port B (direction INPUT))
        (port Bin (direction INPUT))
        (port Bout (direction OUTPUT))
        (port Diff (direction OUTPUT))
       )
       (contents
         (instance Bout0_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1573376))
         )
         (instance Bout0_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2949632))
         )
         (instance Bout1_i (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 1180160))
         )
         (instance Bout1_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2032128))
         )
         (instance Bout2_i (viewref RTL_INV (cellref RTL_INV (libraryref work)))
           (property XLNX_LINE_COL (integer 983296))
         )
         (instance Bout_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 2556416))
         )
         (instance Diff0_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1114368))
         )
         (instance Diff_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1376512))
         )
         (net A (joined
          (portref I0 (instanceref Bout2_i))
          (portref I0 (instanceref Diff0_i))
          (portref A)
          )
         )
         (net B (joined
          (portref I0 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i))
          (portref I1 (instanceref Diff0_i))
          (portref B)
          )
         )
         (net Bin (joined
          (portref I1 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i__0))
          (portref I1 (instanceref Diff_i))
          (portref Bin)
          )
         )
         (net Bout (joined
          (portref O (instanceref Bout_i))
          (portref Bout)
          )
         )
         (net Bout0 (joined
          (portref I0 (instanceref Bout_i))
          (portref O (instanceref Bout0_i))
          )
         )
         (net Bout0_i__0_n_0 (joined
          (portref I1 (instanceref Bout_i))
          (portref O (instanceref Bout0_i__0))
          )
         )
         (net Bout1 (joined
          (portref I0 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i))
          )
         )
         (net Bout1_i__0_n_0 (joined
          (portref I1 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i__0))
          )
         )
         (net Bout2 (joined
          (portref I0 (instanceref Bout1_i))
          (portref I0 (instanceref Bout1_i__0))
          (portref O (instanceref Bout2_i))
          )
         )
         (net Diff (joined
          (portref O (instanceref Diff_i))
          (portref Diff)
          )
         )
         (net Diff0 (joined
          (portref I0 (instanceref Diff_i))
          (portref O (instanceref Diff0_i))
          )
         )
       )

           (property XLNX_LINE_COL (integer 460800))
           (property ORIG_REF_NAME (string "Sub_1Bit"))
     )
   )
   (cell Sub_1Bit_HD8 (celltype GENERIC)
     (view abstract (viewtype NETLIST)
       (interface 
        (port A (direction INPUT))
        (port B (direction INPUT))
        (port Bin (direction INPUT))
        (port Bout (direction OUTPUT))
        (port Diff (direction OUTPUT))
       )
       (contents
         (instance Bout0_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1573376))
         )
         (instance Bout0_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2949632))
         )
         (instance Bout1_i (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 1180160))
         )
         (instance Bout1_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2032128))
         )
         (instance Bout2_i (viewref RTL_INV (cellref RTL_INV (libraryref work)))
           (property XLNX_LINE_COL (integer 983296))
         )
         (instance Bout_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 2556416))
         )
         (instance Diff0_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1114368))
         )
         (instance Diff_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1376512))
         )
         (net A (joined
          (portref I0 (instanceref Bout2_i))
          (portref I0 (instanceref Diff0_i))
          (portref A)
          )
         )
         (net B (joined
          (portref I0 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i))
          (portref I1 (instanceref Diff0_i))
          (portref B)
          )
         )
         (net Bin (joined
          (portref I1 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i__0))
          (portref I1 (instanceref Diff_i))
          (portref Bin)
          )
         )
         (net Bout (joined
          (portref O (instanceref Bout_i))
          (portref Bout)
          )
         )
         (net Bout0 (joined
          (portref I0 (instanceref Bout_i))
          (portref O (instanceref Bout0_i))
          )
         )
         (net Bout0_i__0_n_0 (joined
          (portref I1 (instanceref Bout_i))
          (portref O (instanceref Bout0_i__0))
          )
         )
         (net Bout1 (joined
          (portref I0 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i))
          )
         )
         (net Bout1_i__0_n_0 (joined
          (portref I1 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i__0))
          )
         )
         (net Bout2 (joined
          (portref I0 (instanceref Bout1_i))
          (portref I0 (instanceref Bout1_i__0))
          (portref O (instanceref Bout2_i))
          )
         )
         (net Diff (joined
          (portref O (instanceref Diff_i))
          (portref Diff)
          )
         )
         (net Diff0 (joined
          (portref I0 (instanceref Diff_i))
          (portref O (instanceref Diff0_i))
          )
         )
       )

           (property XLNX_LINE_COL (integer 460800))
           (property ORIG_REF_NAME (string "Sub_1Bit"))
     )
   )
   (cell Sub_1Bit_HD9 (celltype GENERIC)
     (view abstract (viewtype NETLIST)
       (interface 
        (port A (direction INPUT))
        (port B (direction INPUT))
        (port Bin (direction INPUT))
        (port Bout (direction OUTPUT))
        (port Diff (direction OUTPUT))
       )
       (contents
         (instance Bout0_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1573376))
         )
         (instance Bout0_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2949632))
         )
         (instance Bout1_i (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 1180160))
         )
         (instance Bout1_i__0 (viewref RTL_AND (cellref RTL_AND (libraryref work)))
           (property XLNX_LINE_COL (integer 2032128))
         )
         (instance Bout2_i (viewref RTL_INV (cellref RTL_INV (libraryref work)))
           (property XLNX_LINE_COL (integer 983296))
         )
         (instance Bout_i (viewref RTL_OR0 (cellref RTL_OR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 2556416))
         )
         (instance Diff0_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1114368))
         )
         (instance Diff_i (viewref RTL_XOR0 (cellref RTL_XOR0 (libraryref work)))
           (property XLNX_LINE_COL (integer 1376512))
         )
         (net A (joined
          (portref I0 (instanceref Bout2_i))
          (portref I0 (instanceref Diff0_i))
          (portref A)
          )
         )
         (net B (joined
          (portref I0 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i))
          (portref I1 (instanceref Diff0_i))
          (portref B)
          )
         )
         (net Bin (joined
          (portref I1 (instanceref Bout0_i__0))
          (portref I1 (instanceref Bout1_i__0))
          (portref I1 (instanceref Diff_i))
          (portref Bin)
          )
         )
         (net Bout (joined
          (portref O (instanceref Bout_i))
          (portref Bout)
          )
         )
         (net Bout0 (joined
          (portref I0 (instanceref Bout_i))
          (portref O (instanceref Bout0_i))
          )
         )
         (net Bout0_i__0_n_0 (joined
          (portref I1 (instanceref Bout_i))
          (portref O (instanceref Bout0_i__0))
          )
         )
         (net Bout1 (joined
          (portref I0 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i))
          )
         )
         (net Bout1_i__0_n_0 (joined
          (portref I1 (instanceref Bout0_i))
          (portref O (instanceref Bout1_i__0))
          )
         )
         (net Bout2 (joined
          (portref I0 (instanceref Bout1_i))
          (portref I0 (instanceref Bout1_i__0))
          (portref O (instanceref Bout2_i))
          )
         )
         (net Diff (joined
          (portref O (instanceref Diff_i))
          (portref Diff)
          )
         )
         (net Diff0 (joined
          (portref I0 (instanceref Diff_i))
          (portref O (instanceref Diff0_i))
          )
         )
       )

           (property XLNX_LINE_COL (integer 460800))
           (property ORIG_REF_NAME (string "Sub_1Bit"))
     )
   )
   (cell Sub_4Bit (celltype GENERIC)
     (view Sub_4Bit (viewtype NETLIST)
       (interface 
        (port Bin (direction INPUT))
        (port Bout (direction OUTPUT))
        (port (array (rename A "A[3:0]") 4) (direction INPUT))
        (port (array (rename B "B[3:0]") 4) (direction INPUT))
        (port (array (rename Diff "Diff[3:0]") 4) (direction OUTPUT))
       )
       (contents
         (instance Bout_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives)))
           (property OPT_INSERTED (boolean (true)))
         )
         (instance (rename Diff_0__OBUF_inst "Diff[0]_OBUF_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives)))
           (property OPT_INSERTED (boolean (true)))
         )
         (instance (rename Diff_1__OBUF_inst "Diff[1]_OBUF_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives)))
           (property OPT_INSERTED (boolean (true)))
         )
         (instance (rename Diff_2__OBUF_inst "Diff[2]_OBUF_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives)))
           (property OPT_INSERTED (boolean (true)))
         )
         (instance (rename Diff_3__OBUF_inst "Diff[3]_OBUF_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives)))
           (property OPT_INSERTED (boolean (true)))
         )
         (instance SB0 (viewref Sub_1Bit (cellref Sub_1Bit (libraryref work)))
           (property XLNX_LINE_COL (integer 590592))
         )
         (instance SB1 (viewref abstract (cellref Sub_1Bit_HD7 (libraryref work)))
           (property XLNX_LINE_COL (integer 590592))
         )
         (instance SB2 (viewref abstract (cellref Sub_1Bit_HD8 (libraryref work)))
           (property XLNX_LINE_COL (integer 590592))
         )
         (instance SB3 (viewref abstract (cellref Sub_1Bit_HD9 (libraryref work)))
           (property XLNX_LINE_COL (integer 590592))
         )
         (net (rename A_0_ "A[0]") (joined
          (portref A (instanceref SB0))
          (portref (member A 3))
          )
         )
         (net (rename A_1_ "A[1]") (joined
          (portref A (instanceref SB1))
          (portref (member A 2))
          )
         )
         (net (rename A_2_ "A[2]") (joined
          (portref A (instanceref SB2))
          (portref (member A 1))
          )
         )
         (net (rename A_3_ "A[3]") (joined
          (portref A (instanceref SB3))
          (portref (member A 0))
          )
         )
         (net (rename B_0_ "B[0]") (joined
          (portref B (instanceref SB0))
          (portref (member B 3))
          )
         )
         (net (rename B_1_ "B[1]") (joined
          (portref B (instanceref SB1))
          (portref (member B 2))
          )
         )
         (net (rename B_2_ "B[2]") (joined
          (portref B (instanceref SB2))
          (portref (member B 1))
          )
         )
         (net (rename B_3_ "B[3]") (joined
          (portref B (instanceref SB3))
          (portref (member B 0))
          )
         )
         (net Bin (joined
          (portref Bin (instanceref SB0))
          (portref Bin)
          )
         )
         (net Bout (joined
          (portref O (instanceref Bout_OBUF_inst))
          (portref Bout)
          )
         )
         (net Bout_OBUF (joined
          (portref Bout (instanceref SB3))
          (portref I (instanceref Bout_OBUF_inst))
          )
         )
         (net (rename Diff_0_ "Diff[0]") (joined
          (portref O (instanceref Diff_0__OBUF_inst))
          (portref (member Diff 3))
          )
         )
         (net (rename Diff_1_ "Diff[1]") (joined
          (portref O (instanceref Diff_1__OBUF_inst))
          (portref (member Diff 2))
          )
         )
         (net (rename Diff_2_ "Diff[2]") (joined
          (portref O (instanceref Diff_2__OBUF_inst))
          (portref (member Diff 1))
          )
         )
         (net (rename Diff_3_ "Diff[3]") (joined
          (portref O (instanceref Diff_3__OBUF_inst))
          (portref (member Diff 0))
          )
         )
         (net (rename Diff_OBUF_0_ "Diff_OBUF[0]") (joined
          (portref Diff (instanceref SB0))
          (portref I (instanceref Diff_0__OBUF_inst))
          )
         )
         (net (rename Diff_OBUF_1_ "Diff_OBUF[1]") (joined
          (portref Diff (instanceref SB1))
          (portref I (instanceref Diff_1__OBUF_inst))
          )
         )
         (net (rename Diff_OBUF_2_ "Diff_OBUF[2]") (joined
          (portref Diff (instanceref SB2))
          (portref I (instanceref Diff_2__OBUF_inst))
          )
         )
         (net (rename Diff_OBUF_3_ "Diff_OBUF[3]") (joined
          (portref Diff (instanceref SB3))
          (portref I (instanceref Diff_3__OBUF_inst))
          )
         )
         (net SB0_n_0 (joined
          (portref Bin (instanceref SB1))
          (portref Bout (instanceref SB0))
          )
         )
         (net SB1_n_0 (joined
          (portref Bin (instanceref SB2))
          (portref Bout (instanceref SB1))
          )
         )
         (net SB2_n_0 (joined
          (portref Bin (instanceref SB3))
          (portref Bout (instanceref SB2))
          )
         )
       )

           (property XLNX_LINE_COL (integer 460800))
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design Sub_4Bit
    (cellref Sub_4Bit (libraryref work))
    (property part (string "xc7a35tcpg236-1"))
  )
)
